
<div class="container">
  <H2>These are the mansions</H2>
  <div class="d-flex index-container">
    <div class="mansion-list w-50 h-100">
      <% @mansions.each do |mansion| %>
      <%= link_to mansion_path(mansion) do  %>
        <div class="card-product border-card mb-3">
          <% if mansion.photo.attached? %>
           <%= cl_image_tag mansion.photo.key, class: "h-100"  %>
            <% end %>
            <div class="card-trip-infos px-3">
              <div>
                <h2> <%= mansion.title %></h2>
                <p> <%= mansion.description %> </p>
              </div>
              <h2 class="card-trip-pricing">£ <%= mansion.price %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


    <img class="w-50" id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiamF1bWVyb3MiLCJhIjoiY2toZ2JxeHRyMDZjODJ6cDlrYXZid2FtNyJ9.G9aLtUJJRP-654jczWoV3A'>

  </div>
</div>




