<div class="container">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="col-8">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @mansion.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index == 0  %>">
                <%= cl_image_tag photo.key, crop: :fill, :class => "d-block w-100 show-banner my-3" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="bg-white p-3 mb-3">
          <h1><%= @mansion.title %></h1>
          <p><%= @mansion.address %></p>
        </div>
        <div class="bg-white p-3">
          <p><%= @mansion.description %></p>
        </div>
        
        <div class="my-3 bg-white p-3">
          <p>Details of the Mansion:</p>
          <div class="d-flex">
            <p class="mb-0"><i class="fas fa-user-friends mr-1"></i><%= @mansion.capacity %></p>
            <p class="mb-0"><i class="fas fa-euro-sign ml-3 mr-1"></i><%= @mansion.price %></p>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div class="my-3 bg-white p-3 booking-form border-card">
    
          <h4>Book this place!</h4>
          <%= simple_form_for [@mansion, @booking] do |f| %>
          <div id="availabilities" data-availabilities="<%= @availabilities.to_json %> ">         
          </div>
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%#= f.input :end_date,  as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Book", class: "btn btn-primary w-100" %>
            
            <div id="price" data-price="<%= @mansion.price %> ">

          </div>




          <% end %>
        </div>
        
        









      </div>
    </div>
  </div>
</div>

