<!-- <div class="container">
    <div class="show-card">
        <h1><%= @mansion.title %></h1>
        <%= cl_image_tag @mansion.photo.key, height: 300, width: 800, crop: :fill%>
    </div>

    <div class= "card">
        <h2><%= @mansion.description %></h3>
        <h3>Party Capacity:<%= @mansion.capacity %></h2>

        <h3><%= @mansion.description %></h2>

    </div>
</div> -->
<div class="show-banner mb-3" style="background-image: url(' <%= @mansion.photo.key %> ');"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <div class="bg-white p-3 mb-3">
          <h1><%= @mansion.title %></h1>
          <p><%= @mansion.address %></p>
        </div>
        <div class="bg-white p-3">
          <p><%= @mansion.description %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3 bg-white p-3">
          <p>Book this place!</p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="People">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="From">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="To">
            </div>
            <button type="submit" class="btn btn-primary w-100">Book</button>
          </form>
        </div>

        <div class="mb-3 bg-white p-3">
          <p>Details of the Mansion:</p>
          <div class="d-flex">
            <p class="mb-0"><i class="fas fa-user-friends mr-1"></i><%= @mansion.capacity %></p>
            <p class="mb-0"><i class="fas fa-euro-sign ml-3 mr-1"></i><%= @mansion.price %></p>
          </div>
        </div>

        <div class="d-flex bg-white p-3 mb-3 justify-content-between">
          <p class="mb-0">Share</p>
          <div>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-pinterest-square"></i>
            <i class="fas fa-envelope-square"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

