<div class="container">
  <div class="set-footer">
    <h1 class="my-3 text-center">Dashboard</h1>
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Mansions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Bookings</a>
      </li>
    </ul>

    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <div class="tab-content" id="my-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="mansion-list w-100 h-100">
              <% @user_mansions.each do |mansion| %>
                <div class="card-product border-card">
                  <%= link_to mansion_path(mansion) do  %>
                    <%= cl_image_tag mansion.photos.first.key %>
                    <div class="data-container">
                      <div>
                        <h2 class="pb-2"><%= mansion.title %></h2>
                        <p class="mt-0"><i class="fas fa-map-marker-alt pr-2"></i><%= mansion.address %></p>
                        <p class="mt-0"><i class="fas fa-euro-sign pr-2"></i><%= mansion.price %>/night</p>
                      </div>
                      <div>
                        <%= link_to '<i class="fas fa-pencil-alt edit"></i>'.html_safe, edit_mansion_path(mansion), class: "secondary-btn pt-0"  %>
                        <%= link_to '<i class="fas fa-trash-alt delete"></i>'.html_safe, mansion_path(mansion),method: :delete, class: "secondary-btn pt-0"  %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="mansion-list w-100 h-100">
              <% @user_booking_requests.each do |booking| %>
                <div class="card-product border-card mb-3">
                  <div class="align-items-center p-3">
                    <%= cl_image_tag booking.user.avatar.key, class: "avatar-large" %>
                  </div>
                  <div class="d-flex justify-content-between flex-grow-1 h-100 p-3">
                    <div class="d-flex flex-column justify-content-between">
                      <h2><%= booking.mansion.title %></h2>
                      <p>Name: <%= booking.user.name %></p>
                      <%# <p> Number of guests: <%= booking.mansion.capacity </p> %>
                      <p class="card-trip-pricing"><i class="fas fa-euro-sign pr-2"></i><%= booking.mansion.price %>/night</p>
                      <p class="dates-p"><i class="far fa-calendar-alt pr-2"></i><%= booking.start_date.strftime('%b %d, %Y') %> to <%= booking.end_date.strftime('%b %d, %Y') %></p>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>
                        <% if booking.status == "pending"  %>
                          <%= link_to '<i class="fas fa-times"></i>'.html_safe, rejected_booking_path(booking),  method: :post, class: "rejected" %>
                          <%= link_to '<i class="fas fa-check"></i>'.html_safe, accepted_booking_path(booking), method: :post, class: "accepted" %>
                        <% else %>
                          <h6 class="<%= booking.status %> booking"><%= booking.status.capitalize %></h6>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="mansion-list w-100 h-100">
              <% @user_bookings.each do |booking| %>
                <div class="card-product border-card mb-3">
                    <%= cl_image_tag booking.mansion.photos.first.key %>
                    <div class="flex-grow-1 pl-3">
                      <div class="d-flex justify-content-between mt-3">
                        <h2> <%= booking.mansion.title %></h2>
                        <h6 class="<%= booking.status %> pending-status"><%= booking.status.capitalize %></h6>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-2">
                        <div>
                          <p><i class="far fa-calendar-alt pr-2"></i><%= booking.start_date.strftime('%b %d, %Y') %> to <%= booking.end_date.strftime('%b %d, %Y') %> </p>
                          <p><i class="fas fa-euro-sign pr-2"></i><%= booking.mansion.price %>/night</p>
                          <% if DateTime.current.to_date == booking.end_date %>
                            <%= link_to "Leave a review", new_booking_review_path(booking), class: "secondary-btn"  %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



