<div class="banner">
    <div class="container banner-container">
      <h1>Find your party mansion!</h1>
          <%= link_to "Explore", mansions_path, class: "btn btn-primary btn-lg" %>
      </div>
  </div>
<h2 id="featured" style="text-align:center;padding-top: 20px;"> Featured mansions </h2>
<div class="container my-5">
  <div class="row">
    <% @mansions.each do |mansion| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to mansion_path(mansion) do  %>
          <div class="card border-card no-border h-100">
            <div class="img-card" style="background-image: url(<%= cl_image_path mansion.photos.first.key %>)"></div>
            <div class="card-body">
              <h4><strong><%= mansion.title %></strong></h4>
              <p><%= truncate(mansion.description, length: 140) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

