<!DOCTYPE html>
<html>
  <head>
    <title>PARTYMansion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <div class="footer bg-secondary ">
      <div class="d-flex">
        <p><i class="fas fa-globe"></i>English(US)</p>
        <p><i class="fas fa-euro-sign"></i>EUR</p>
      </div>
      <div>
        <p>© 2020 MansionsBnB, Inc. All rights reserved</p>
      </div>
      <div class="d-flex">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram-square"></i>
      </div>
    </div>
  </body>
</html>
